﻿.modal_block
{
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modal_part
{
    z-index: 100;
    display: none;
}

.modal_dialog
{
    width: 50%;
    height: 25%;
    position: absolute;
    top: 30%;
    left: 23%;
    padding: 2%;
    border-radius: 10px;
    border: 0;
    background: #fff;
    box-shadow: 0 0 5px #000;
}

.modal_dialog:empty
{
    background: #fff url(../../common/Content/images/ajax-loader.gif) no-repeat center center;
}

#bannercontainer {
    height: 120px;
    margin: 0 2px 0 2px;
    padding:5px;
    background: white;
    position: relative;
    z-index: 100;
    border-left: solid 1px silver;
    border-top: solid 1px silver;
    border-radius: 5px 5px 5px 0;
    -moz-border-radius: 5px 5px 5px 0;
    -webkit-border-radius: 5px 5px 5px 0;
}

#navigation {
    width: 250px;
    padding:5px;
    display: block;
    background: white;
    border-left: solid 1px silver;
    z-index: 101;
    position: relative;
    margin: 0 10px 0 10px;
    border-bottom-left-radius: 5px 5px;
    -moz-border-bottom-left-radius: 5px 5px;
    -webkit-border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    -moz-border-bottom-right-radius: 5px 5px;
    -webkit-border-bottom-right-radius: 5px 5px;
}

.shadow {
    -moz-box-shadow: 0px 3px 4px -1px gray;
    -webkit-box-shadow: 0px 3px 4px -1px gray;
    box-shadow: 0px 3px 4px -1px gray;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#808080')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#808080');
}

.image_rounded_shadow {
    display: inline-block;
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    border: solid 1px #BDBED9;
    background-color:#F5F5F8;
    box-shadow: 1px 1px 6px #888888;
    -webkit-box-shadow: 1px 1px 6px #888888;
    -moz-box-shadow: 1px 1px 6px #888888;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

.image_rounded_shadow img {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}

.styled-button-8 {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}


.styled-button-blue {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:5px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}


.styled-button-green {
	background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00',endColorstr='#4AA400',GradientType=0);
	padding:5px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #5CCD00
}

.styled-button-green-small
{
    background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00',endColorstr='#4AA400',GradientType=0);
    padding:5px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #fff
}

.styled-button-green-big
{
    background:#5CCD00;
	background:-moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background:-webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:-ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background:linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00',endColorstr='#4AA400',GradientType=0);
    padding:10px 15px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #fff;
    float:left;
    cursor:pointer;
}

.styled-button-orange-big
{
    background:#F4974D;
	background:-moz-linear-gradient(top,#F4974D 0%,#FBA968 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#F4974D),color-stop(100%,#FBA968));
	background:-webkit-linear-gradient(top,#F4974D 0%,#FBA968 100%);
	background:-o-linear-gradient(top,#F4974D 0%,#FBA968 100%);
	background:-ms-linear-gradient(top,#F4974D 0%,#FBA968 100%);
	background:linear-gradient(top,#F4974D 0%,#FBA968 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F4974D',endColorstr='#FBA968',GradientType=0);
    padding:5px 7px;
	color:#fff;
	font-family: Arial; 
    font-weight: bold; 
    text-shadow: 1px 1px 0 #666666;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #fff;
    float:left;
    cursor:pointer;
}
